{# field_data year -#}
{% from "macros-publik/entete.j2" import entete with context -%}
<field>
    {{ entete(field_data, "item", extra_css_class) }}
    <data_source>
        <type>formula</type>
        <value>[{"id":"ancien", "text":"Avant " + str(datetime.datetime.now().year-{{ year }})},{"id":"recent", "text":"Depuis " + str(datetime.datetime.now().year-{{ year }})}]</value>
    </data_source>
    <show_as_radio>True</show_as_radio>
    <anonymise>False</anonymise>
    <display_disabled_items>False</display_disabled_items>
</field>