{# field_data hint -#}
<field>
    <label>{{ get_text(field_data) }}</label>
    <type>email</type>
    <required>{{ required }}</required>
    <varname>{{ get_varname(field_data) }}</varname>
    <hint>{{ get_text(hint) }}</hint>
    <id>{{ get_id(field_data) }}</id>
    <in_listing>{{ is_in_listing(field_data) }}</in_listing>
    <in_filters>{{ is_in_filters(field_data) }}</in_filters>
</field>