{# field_data -#}
{% from "macros-publik/entete.j2" import entete with context -%}
<field>
    {{ entete(field_data, "file", extra_css_class) }}
    <allow_portfolio_picking>False</allow_portfolio_picking>
</field>