{# field_data form_fields -#}
<?xml version="1.0" encoding="iso-8859-15"?>
<formdef id="100">
  <name>{{ get_text(field_data) }}</name>
  {% if "url" in formulaire -%}
  <url_name>{{ formulaire["url"] }}</url_name>
  {% endif -%}
  {% if "description" in formulaire -%}
  <description>{{ formulaire["description"] }}</description>
  {% endif -%}
  {% if "identifiant" in formulaire -%}
  <internal_identifier>{{ formulaire["identifiant"] }}</internal_identifier>
  {% endif -%}
  <discussion>false</discussion>
  <detailed_emails>true</detailed_emails>
  <disabled>true</disabled>
  <only_allow_one>false</only_allow_one>
  <enable_tracking_codes>true</enable_tracking_codes>
  <confirmation>true</confirmation>
  <always_advertise>false</always_advertise>
  <private_status_and_history>false</private_status_and_history>
  <has_captcha>false</has_captcha>
  <skip_from_360_view>false</skip_from_360_view>
  <workflow workflow_id="_default">Par d&#233;faut</workflow>
  <max_field_id>{{ get_id() }}</max_field_id>
  <last_modification user_id="1">{{now}}</last_modification>
  <fields>
    {{ form_fields }}
  </fields>
  <options />
  <geolocations />
</formdef>