{# -#}
{%- from "macros-publik/champ_texte.j2" import champ_texte with context -%}
{{ champ_texte("numero_fiscal", extra_css_class="grid-1-2") }}
{{ champ_texte("reference_avis", extra_css_class="grid-1-2") }}