{# field_data -#}
<field>
    <label>{{ get_text(field_data) }}</label>
    <type>page</type>
    <id remote="{{field_data}}">{{ get_id(field_data) }}</id>
    {% if condition -%}
    <condition>
        <type>django</type>
        <value>{{ condition -}}</value>
    </condition>
    {% endif -%}
    {% if post_conditions -%}
    <post_conditions>
    {% for post_condition in post_conditions -%}
      <post_condition>
        <condition>
          <type>django</type>
          <value>not {{ post_condition.getExpression() -}}</value>
        </condition>
        <error_message>{{ get_text(post_condition.getMessage()) -}}</error_message>
      </post_condition>
    {% endfor -%}
    </post_conditions>
    {% endif -%}
</field>