{# field_data -#}
<field>
    <label>{{ get_text(field_data) }}</label>
    <type>subtitle</type>
    <id>{{ get_id(field_data) }}</id>
    {% if condition -%}
    <condition>
        <type>django</type>
        <value><![CDATA[{{ condition -}}]]></value>
    </condition>
    {% endif -%}
</field>