{# field_data -#}
{% from "macros-publik/entete.j2" import entete with context -%}
<field>
    {{ entete(field_data, "tablerows", extra_css_class) }}
	<columns>
		{% for term in get_items(field_data) -%}
			<column>{{ term }}</column>
		{% endfor -%}
	</columns>
	<total_row>False</total_row>
</field>