{# field_data -#}
{% from "macros-publik/entete.j2" import entete with context -%}
<field>
    {{ entete(field_data, "string", extra_css_class) }}
    <validation><type>phone</type></validation>
    <size></size>
</field>
