{# field_data -#}
<field>
    <label>{{ get_md_text(field_data) }}</label>
    <type>comment</type>
    <id>{{ get_id(field_data) }}</id>
    {% if condition -%}
    <condition>
        <type>django</type>
        <value>{{ condition -}}></value>
    </condition>
    {% endif -%}
</field>