{# field_data -#}
<field>
    <label>{{ get_text(field_data) }}</label>
    <type>title</type>
    <id remote="{{field_data}}">{{ get_id(field_data) }}</id>
    {% if condition -%}
    <condition>
        <type>django</type>
        <value>{{ condition -}}</value>
    </condition>
    {% endif -%}
</field>