{% from "macros-publik/entete.j2" import entete with context -%}
{% macro champ_texte(field_data, extra_css_class='', validation ='', size='', prefill_text='', prefill_formula='', prefill_user='') -%}
<field>
    {{ entete(field_data, "string", extra_css_class) }}
    {% if validation -%}
    <validation><type>{{ get_text(validation) }}</type></validation>
    {% endif -%}
    <size>{{ size }}</size>
</field>
{%- endmacro %}
