{% from "macros-publik/entete.j2" import entete with context -%}
{% macro champ_texte(field_data, extra_css_class='', size='', validation='') -%}
<field>
    {{ entete(field_data, "string", extra_css_class) }}
    <validation>{{ validation }}</validation>
    <size>{{ size }}</size>
</field>
{%- endmacro %}