{% macro champ_texte(field_data, required, hint=None, extra_css_class='', size='', validation='') -%}
<field>
    <label>{{ get_text(field_data) }}</label>
    <type>string</type>
    <required>{{ required }}</required>
    {% if hint -%}
    <hint>{{ get_text(hint) }}</hint>
    {% endif -%}
    <varname>{{ get_varname(field_data) }}</varname>
    <in_listing>{{ is_in_listing(field_data) }}</in_listing>
    <in_filters>{{ is_in_filters(field_data) }}</in_filters>
    <extra_css_class>{{ extra_css_class }}</extra_css_class>
    <prefill>
        <type>none</type>
    </prefill>
    <validation>{{ validation }}</validation>
    <size>{{ size }}</size>
    <id>{{ get_id(field_data) }}</id>
</field>
{%- endmacro %}