{% from "macros-publik/entete.j2" import entete with context -%}
{% macro liste(field_data, multi=False, deroulante=False) %}
<field>
    {%- if multi %}
    {{ entete(field_data, "items") }}
    {% else %}
    {{ entete(field_data, "item") }}
    {% endif -%}
    <items>
    {% for term in get_items(field_data) -%}
        <item>{{ term }}</item>
    {% endfor -%}
    </items>
    {%- if not multi %}
        {%- if deroulante %}
    <show_as_radio>False</show_as_radio>
        {% else %}
    <show_as_radio>True</show_as_radio>
        {% endif -%}
    {% endif -%}
    <anonymise>False</anonymise>
    <display_disabled_items>False</display_disabled_items>
</field>
{%- endmacro %}